<a href="https://colab.research.google.com/github/carloslme/thinkstats2_exercises/blob/main/Chapter_1_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%cd /content/drive/MyDrive/Colab\ Notebooks/ThinkStats2_Exercises

/content/drive/MyDrive/Colab Notebooks/ThinkStats2_Exercises

# Exercise 1-1
Open chap01ex.ipynb('/content/drive/MyDrive/Colab\ Notebooks/ThinkStats2/code/chap01ex.ipynb').ipynb and explore the content

# Exercise 1-2

### Setting up

In [8]:
%pycat nsfg.py

In [15]:
from __future__ import print_function, division
import nsfg

In [13]:
%cp -av /content/drive/MyDrive/Colab\ Notebooks/ThinkStats2/thinkstats2 /content/drive/MyDrive/Colab\ Notebooks/ThinkStats2_Exercises

'/content/drive/MyDrive/Colab Notebooks/ThinkStats2/thinkplot' -> '/content/drive/MyDrive/Colab Notebooks/thinkplot'
'/content/drive/MyDrive/Colab Notebooks/ThinkStats2/thinkplot/__init__.py' -> '/content/drive/MyDrive/Colab Notebooks/thinkplot/__init__.py'
'/content/drive/MyDrive/Colab Notebooks/ThinkStats2/thinkplot/thinkplot.py' -> '/content/drive/MyDrive/Colab Notebooks/thinkplot/thinkplot.py'

In [ ]:
%cp -av /content/drive/MyDrive/Colab\ Notebooks/ThinkStats2/thinkplot /content/drive/MyDrive/Colab\ Notebooks/thinkplot

In [17]:
%cp -av /content/drive/MyDrive/Colab\ Notebooks/ThinkStats2/code/2002FemResp.dat.gz /content/drive/MyDrive/Colab\ Notebooks/ThinkStats2_Exercises/2002FemResp.dat.gz

'/content/drive/MyDrive/Colab Notebooks/ThinkStats2/code/2002FemResp.dat.gz' -> '/content/drive/MyDrive/Colab Notebooks/ThinkStats2_Exercises/2002FemResp.dat.gz'

In [20]:
%cp -av /content/drive/MyDrive/Colab\ Notebooks/ThinkStats2/code/2002FemResp.dct /content/drive/MyDrive/Colab\ Notebooks/ThinkStats2_Exercises/2002FemResp.dct

'/content/drive/MyDrive/Colab Notebooks/ThinkStats2/code/2002FemResp.dct' -> '/content/drive/MyDrive/Colab Notebooks/ThinkStats2_Exercises/2002FemResp.dct'

Read NSFG data into a Pandas DataFrame.

In [28]:
preg = nsfg.ReadFemPreg(dct_file=r'/content/drive/MyDrive/Colab Notebooks/ThinkStats2/code/2002FemPreg.dct', dat_file=r'/content/drive/MyDrive/Colab Notebooks/ThinkStats2/code/2002FemPreg.dat.gz')
preg.head()

   caseid  pregordr  howpreg_n  howpreg_p  ...  secu_p  sest  cmintvw  totalwgt_lb
0       1         1        NaN        NaN  ...       2     9      NaN       8.8125
1       1         2        NaN        NaN  ...       2     9      NaN       7.8750
2       2         1        NaN        NaN  ...       2    12      NaN       9.1250
3       2         2        NaN        NaN  ...       2    12      NaN       7.0000
4       2         3        NaN        NaN  ...       2    12      NaN       6.1875

[5 rows x 244 columns]

In [29]:
# pregnum indicates how many times each respondent has been pregnant.
preg.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [34]:
# Select a single column name.
preg.columns[1]

'pregordr'

In [35]:
# Select a column and check what type it is.
pregordr = preg['pregordr']
type(pregordr)

pandas.core.series.Series

In [36]:
# Print a column.
pregordr

0        1
1        2
2        1
3        2
4        3
        ..
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

In [37]:
# Select a single element from a column.
pregordr[0]

1

In [39]:
# Select a slice from a column.
pregordr[2:5]

2    1
3    2
4    3
Name: pregordr, dtype: int64

In [40]:
# Select a column using dot notation.
pregordr = preg.pregordr

In [41]:
# Count the number of times each value occurs.
preg.outcome.value_counts().sort_index()

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

In [42]:
# Check the values of another variable.
preg.birthwgt_lb.value_counts().sort_index()

0.0        8
1.0       40
2.0       53
3.0       98
4.0      229
5.0      697
6.0     2223
7.0     3049
8.0     1889
9.0      623
10.0     132
11.0      26
12.0      10
13.0       3
14.0       3
15.0       1
Name: birthwgt_lb, dtype: int64

In [43]:
# Make a dictionary that maps from each respondent's caseid to a list of indices into the pregnancy DataFrame. Use it to select the pregnancy outcomes for a single respondent.
caseid = 10229
preg_map = nsfg.MakePregMap(preg)
indices = preg_map[caseid]
preg.outcome[indices].values

array([4, 4, 4, 4, 4, 4, 1])